body {
	min-height: 100vh;
position: relative;

}

.spacer {
	height:105px;;
}

.wrapper {
	padding:0px 5px 0px 5px;
	position: relative;
	max-width: 1286;
	margin-left: auto;
	margin-right: auto;
	//height:100%;
}

.main-content {
    padding-bottom:65px;
}

.color-blue {
	color:$blue;
}

.display-flex {
	display:flex;
}
