/* Variables
 * The variables here define the default branding of BC GOV. This includes properties like color, font, fontsize, spacing and more.
 * Varabiles naming must follow '$component-state-property-size' convention. 
 * Ex: $nav-link-hover-color or $close-link-color-sm
 */

$font-family: 'Sans';
$bg-color: white;
$line-height:1.5;
$blue: #003366;
$yellow:#fcba19;
$lightblue:#313132;
$lightblue: #169BD5;
