.subheader-container {
    display: flex;
    position: relative;
    top: 150px;
    height: $navbar-height;
    width: 100%;
    background-color: $bg-white;
    z-index: 100;
  }
  
  .subheader {
    display: flex;
    gap: 1em;
    align-items: center;
    max-width: 80%;
    list-style: none;
    margin-bottom: 0;
    & :first-child {
      padding-left: 0;
    }
  }
  