a {
  font-size: 14px;
  color: $accent-lightblue;
  text-decoration: none;
}

a:hover {
  color: $primary-blue;
}

.btn-primary {
  background-color: $primary-blue;
  border-radius: 4px;
  border: none;
  color: white;
  text-align: center;
  padding-block: 10px;
  padding-inline: 1.2em;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 700;
  letter-spacing: 1px;
  max-width: 200px;
  cursor: pointer;

  .icon {
    margin-left: 0.8em;
    font-size: large;
  }

  :hover {
    text-decoration: underline;
    opacity: 0.8;
  }

  :focus {
    outline: 4px solid $accent-lightblue;
    outline-offset: 1px;
  }

  :active {
    opacity: 1;
  }
}

.btn-secondary {
  background-color: $bg-white;
  color: $primary-blue;
  border: 2px solid $primary-blue;
  border-radius: 4px;
  text-align: center;
  padding-block: 10px;
  padding-inline: 1.2em;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 700;
  letter-spacing: 1px;
  max-width: 200px;
  cursor: pointer;

  .icon {
    margin-left: 0.8em;
    font-size: large;
  }

  :hover {
    text-decoration: underline;
    opacity: 0.8;
  }

  :focus {
    outline: 4px solid $accent-lightblue;
    outline-offset: 1px;
  }

  :active {
    opacity: 1;
  }
}

.btn-login {
  background: none;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  padding-block: 10px;
  padding-inline: 1.2em;
  border-radius: 4px;
  border: 2px solid white;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0.5 0;
  max-width: 300px;
  cursor: pointer;

  .icon {
    margin-left: 0.8em;
    font-size: large;
  }

  :hover {
    text-decoration: underline;
    opacity: 0.8;
  }

  :focus {
    outline: 4px solid $accent-lightblue;
    outline-offset: 1px;
  }

  :active {
    opacity: 1;
  }
}
