a {
  font-size: 14px;
  color: $link-blue;
  text-decoration: none;
}

a:hover {
  color: $primary-colour;
}

.link-primary {
  color: $link-blue !important;
  cursor: pointer;
}

/* Every button element must contain this class */
.bcgovbtn {
  border-radius: 4px;
  text-align: center;
  padding-block: 0.5em;
  padding-inline: 1.5em;
  text-decoration: none;
  display: flex;
  gap: 0.7em;
  color: var(--text-color);
  align-items: center;
  justify-content: space-evenly;
  width: fit-content;
  max-height: 3em;
  white-space: nowrap;
  font-weight: 700;
  letter-spacing: 1px;
  border-width: 1px;
  border-style: solid;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: border-color 0.25s;

  :focus {
    outline: none;
  }

  ::-moz-focus-inner {
    border: 0;
  }

  .icon {
    font-size: large;
  }

  &:active {
    opacity: 1;
  }

  &:hover {
    color: var(--text-color);
  }

  &.bold {
    font-weight: bold;
  }

  &.min-gap {
    gap: 0.3rem;
  }
}

.bcgovbtn:focus,
.bcgovbtn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.bcgovbtn__primary {
  background-color: $primary-colour;

  --text-color: #{$text-light};

  border: 2px solid $primary-colour;

  &:focus {
    outline: 4px solid $accent-lightblue;
    outline-offset: 1px;
  }

  &:hover {
    --text-color: white;

    background-color: $bg-blue;
    border: 2px solid $bg-blue;
  }
}

.bcgovbtn__primary-search {
  padding-inline: 0.7em;
}

.search-icon-btn {
  display: flex;
  gap: 0.35em;
}

.bcgovbtn__primary:disabled {
  background-color: $bg-disabled;

  --text-color: white;

  border: 2px solid $bg-disabled;
  cursor: not-allowed;

  &:hover {
    text-decoration: none;
  }
}

.bcgovbtn__secondary {
  background-color: $bg-white;

  --text-color: #{$primary-colour};

  border: 2px solid $primary-colour;

  &:focus {
    outline: 4px solid $accent-lightblue;
    outline-offset: 1px;
  }

  &.btn-secondary-modal {
    margin-top: 0.2em;
    border: 0;
    color: $text-dark;
  }

  &.nav-link-button {
    background-color: transparent;

    --text-color: white;

    border-color: white;
    padding-inline: 1.5em;
  }

  &:hover {
    --text-color: white;

    background-color: $bg-blue;
    border: 2px solid $bg-blue;
  }
}

/* Secnodary Dark styling */
.bcgovbtn__secondary--dark {
  background-color: transparent;

  --text-color: #{$text-light};

  border-color: $text-light;

  &:hover {
    color: #{$text-dark};
    background-color: white;
    border: 2px solid white;
  }
}

.bcgovbtn__secondary--negative {
  background-color: $bg-white;

  --text-color: $error;
  border: 2px solid $error;

  &:hover {
    --text-color: $error;
    text-decoration: underline;
    border: 2px solid $error;

  }
}

.bcgovbtn__tertiary {
  --text-color: #{$primary-colour};

  border: none;
  background-color: transparent;
  font-weight: 400;

  &.active {
    font-weight: 700;
  }

  &:hover {
    text-decoration: underline;
  }
}

.bcgovbtn__tertiary--dark {
  --text-color: #{$text-light};
}

.bcgovbtn__tertiary--negative {
  --text-color: #{$error};
}

.bcgovbtn__tertiary--negative:hover {
  text-decoration: underline;
}

/* TODO! This class needs to be removed as there is no login button as such */
.btn-login,
%btn-login {
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  padding-block: 10px;
  padding-inline: 1.2em;
  border-radius: 4px;
  border: 2px solid white;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0.5 0;
  cursor: pointer;

  .icon {
    margin-left: 0.8em;
    font-size: large;
  }

  &:hover {
    text-decoration: underline;
    opacity: 0.8;
  }

  &:focus {
    outline: 4px solid $accent-lightblue;
    outline-offset: 1px;
  }

  &:active {
    opacity: 1;
  }
}

.btn-logout {
  @extend %btn-login;

  border: 0;
}
