.collapsible {
  &.collapsible__left {
    border-right: 1px solid lightgray;
  }

  .collapsible__header {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: end;

    &-right {
      justify-content: start;
    }
  }

  .collapsible__icon--closed {
    font-size: x-large;
    padding: 0.6rem 1rem 0 0;

    &-right {
      padding: 0.6rem 0 0 1rem;
    }
  }

  .collapsible__icon--open {
    font-size: large;
    padding-inline: 0.3rem;
    padding-block: 0.8rem;
    border: 1px solid lightgray;

    &-left {
      border-right: none;
    }

    &-right {
      border-left: none;
    }
  }

  .collapsible__content {
    margin-top: 10px;
  }
}
