.collapsible {
  &.collapsible__left {
    border-right: 1px solid lightgray;
  }

  .collapsible__header {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: end;
    &-right {
      justify-content: start;
    }
  }

  .collapsible__icon--closed {
    font-size: x-large;
    padding-inline-end: 1rem;
    padding-block-start: 0.6rem;
    &-right {
      padding-inline-end: 0;
      padding-inline-start: 1rem;
    }
  }

  .collapsible__icon--open {
    font-size: large;
    padding-inline: 0.3rem;
    padding-block: 0.8rem;
    border: 1px solid lightgray;
    &-left {
      border-right: none;
    }
    &-right {
      border-left: none;
    }
  }

  .collapsible__content {
    margin-top: 10px;
  }
}
