:root {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: $font-family;
  font-size: 16px;
  min-width: 100%;
  
  & > #root {
    width:100%;
    min-height:100vh;
    
    & > .App {
      position:relative;
      min-height:100vh;
      width:100%;
      overflow:auto;
    }
  }
}

h1 {
  font-size: 2.074rem;
  font-weight: 700;
}

h2 {
  font-size: 1.728rem;
}

h3 {
  font-size: 1.44rem;
}

h4 {
  font-size: 1.2rem;
}

.spacer {
  height: 105px;
}

.wrapper {
  position: relative;
  max-width: 1286;
  margin-left: auto;
  margin-right: auto;
  padding-inline: $wrapper-padding-inline;
  
  @include breakpoint(0 map-get($grid-breakpoints, "sm")) {
    padding-inline: 5px;
  }
}

.main-content {
  padding-bottom: 65px;
}

.color-blue {
  color: $primary-colour;
}

.display-flex {
  display: flex;
}

.bcgovPageContainer {
  margin-top: calc($header-height + $navbar-height);
  min-height: calc(100vh - $header-height - $navbar-height);
  background-color: #f2f2f2;
  padding-top: $padding-block;
  padding-bottom: calc($padding-block + $footer-height);
  display: flex;
  justify-content: center;
}

