/* Defining a root element for the custom font size */
@include breakpoint(0 map-get($grid-breakpoints, 'lg')) {
  :root {
    --custom-font-size: 14px;
  }
}

@include breakpoint(map-get($grid-breakpoints, 'lg')) {
  :root {
    --custom-font-size: 16px;
  }
}

:root {
  box-sizing: border-box;

  /* Bootstraps root overwirtes the font-size.
     Added important to make this have higher
     specificity */
  font-size: var(--custom-font-size) !important;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: $font-family;
  font-size: var(--custom-font-size);
  min-width: 100%;

  & > #root {
    width: 100%;
    min-height: 100vh;

    & > .App {
      position: relative;
      min-height: 100vh;
      width: 100%;
      overflow: auto;
    }
  }
}

h1 {
  font-size: 2.074rem;
  font-weight: 700;
}

h2 {
  font-size: 1.728rem;
  font-weight: 700;
}

h3 {
  font-size: 1.44rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: $line-height;
}

a {
  &:focus {
    outline: auto;
  }
}

.spacer {
  height: 105px;
}

.wrapper {
  position: relative;
  max-width: 1286;
  margin-left: auto;
  margin-right: auto;
  padding-inline: $wrapper-padding-inline;

  @include breakpoint(0 map-get($grid-breakpoints, 'sm')) {
    padding-inline: 5px;
  }
}

.main-content {
  padding-bottom: 65px;
}

.color-blue {
  color: $primary-colour;
}

.display-flex {
  display: flex;
}

.container__padding-inline {
  width: 100%;
  padding-inline: $container-padding-inline;
}

.section__padding-inline {
  padding-inline: $section-padding-inline;
}

.section__padding-block {
  padding-block: $section-padding-block;
}

.section__margin-block {
  margin-block: $section-margin-block;
}

.bcgovPageContainer {
  margin-top: calc($header-height + $navbar-height);
  min-height: calc(100vh - $header-height - $navbar-height);
  flex-direction: column;
  background-color: #f2f2f2;
  padding-top: $padding-block;
  padding-bottom: calc($padding-block + $footer-height);
  display: flex;
  overflow-x: hidden;

  &.bcgovPageContainer__with-controls {
    flex-direction: column;
    padding-top: calc($padding-block - 5em);
    justify-content: start;
  }
}

.page__controls {
  display: flex;
  justify-content: space-between;
  min-width: 70%;
}

.component__container {
  position: relative;
  width: 93%;
  height: 100%;
  display: flex;
  align-self: start;
}

.component__container--comments-open {
  flex: 3;
  width: 67%;
}

.component__wrapper {
  display: flex;
  background-color: $bg-white;
  flex-direction: column;
  align-items: center;
  min-width: 70%;
  box-shadow: 0 17px 29px rgba(220, 226, 238, 0.6);
  border-radius: 4px;
  padding-block: 5em;
  padding-inline: 7em;
  margin-block: 2em;
  width: 100%;

  & > .img__empty-pia-list {
    margin-bottom: 3em;
  }
}

.side-nav__container {
  flex: 1;
  max-width: $max-sidenav-width;
}

.content__container {
  flex: 3;
}

.component__row--create-new-form {
  padding: 0;
  padding-inline: 5rem;

  @include breakpoint(0 map-get($grid-breakpoints, 'sm')) {
    padding-inline: 1rem;
  }

  padding-top: 3em;
  padding-bottom: 2em;
  background-color: $bg-white;
}

.margin-bottom--2em {
  margin-bottom: 2em;
}

.full__width {
  width: 100%;
}

.overflow-clip {
  overflow: clip;
}

.bg-white {
  background-color: white;
}

.drop-shadow {
  box-shadow: $drop-shadow;
}

.section-border-radius {
  border-radius: 4px;
}

.error-text {
  color: $error;
}

.section-focus {
  border: 4px solid $focus;
}

.skip-to-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;

  &:focus,
  &:active {
    color: #f2f2f2;
    background-color: $bg-blue;
    left: auto;
    min-width: max-content;
    height: auto;
    overflow: auto;
    margin-block: 0.5em;
    margin-inline: 40%;
    padding-block: 0.3em;
    padding-inline: 1.8em;
    border-radius: 0.5em;
    border: 0.3em solid $bg-white;
    text-align: center;
    z-index: 999;
  }
}

.container__side--form {
  height: 100%;
  width: 30%;
  top: calc($header-height + $navbar-height + $piaSubheader-height);
  right: 0;
}

.container__side--form--closed {
  width: fit-content;
}
