.text__font-weight--700 {
  font-weight: 700;
}

.text__align-center {
  text-align: center;
}

.text__max-width--75ch {
  max-width: 75ch;
}

.text__line-height--2 {
  line-height: 2;
}

.section__question-hint {
  color: $text-gray;
}
