footer {
  background-color: $bc-blue;
  border-top: 2px solid $bc-yellow;
  color: #fff;
  font-family: $font-family;
  /* need to test */
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 46px;
  //top: calc(100vh - 72px);;
}

footer .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 46px;
}

footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  color: #fff;
  list-style: none;
  align-items: center;
  height: 100%;
}

footer ul li {
  display: inherit;
  align-items: center;
  border-right: 1px solid white;
  line-height: 1rem;

  &:last-child {
    border-right: none;
  }
}

footer ul li a {
  font-size: 0.813em;
  font-weight: normal; /* 400 */
  color: #fff;
  margin-inline: 10px;
  position: relative;
  cursor: pointer;

  &:hover {
    color: #fff;
    text-decoration: underline;
  }

  &:focus {
    outline: 4px solid $bc-lightblue;
    outline-offset: 1px;
  }
}
