.form__container {
  width: 80em;
  max-width: 80%;
}

.form-control {
  border-color: $form-input-border-colour;
}

.form__title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.form__header {
  margin-bottom: 4em;
}

.form__section {
  margin-top: 4rem;
}

.form__h2 {
  line-height: 1.5em;
}

.form__helper-text {
  color: $text-gray;
}

.form__input-label {
  accent-color: $primary-colour;
  display: flex;
  gap: 0.5em;
}

.form__row--flex-end {
  align-items: end;
}

.form__button-row {
  display: flex;
  justify-content: space-between;
}

.form__button-group {
  display: flex;
  gap: 0.5em;
}

.helper-text__link-icon {
  margin-left: 0.3em;
}

.form-group__p--margin-zero {
  margin: 0;
}

.search-container-wrapper {
  display: flex;
  align-items: center;
  margin-top: 1em;
  width: 100%;
  
  & > * > * > .dropdown {
      width: 11em;
    }
  label {
  display: none;
  }
}

.search-container {
  min-width: 450px;
  justify-content: end;

  .search-input {
    width: 100%;
  }
  .search-sub-container {
    display: flex;
    align-items: center;
    width: 100%;

    label {
      display: none;
    }

    input {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }

  .search-icon-container {
    height: 38px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}
