.nextSteps {
  .button-container {
    :first-child {
      margin-right: 1em;
    }
  }
}

.infographic-diagram {
  max-width: 100%;
  cursor: pointer;
}

.nextSteps-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.nextSteps-modal-content {
  width: 155svh;
  height: fit-content;
  max-width: 155svh;
  max-height: 100svh;
  position: relative;
  background-color: transparent;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;

  .nextSteps-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: -40px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    .nextSteps-toolbar-zoom {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .nextSteps-zoom-in,
  .nextSteps-zoom-out,
  .nextSteps-close-button {
    border: none;
    background: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  .nextSteps-zoom-in,
  .nextSteps-zoom-out {
    font-size: 2em;
  }

  .nextSteps-close-button {
    font-size: 1.2em;
  }
}

.nextSteps-toolbar-button {
  padding: 10px;
  border-radius: 50%;

  &:hover {
    background-color: #606060b4;
  }

  &:active {
    background-color: #cfcfcfbe;
  }
}

.nextSteps-image-container {
  overflow: hidden;
  width: 100%;
  height: inherit;
  border-radius: 5px;
  max-height: 100svh;

  .nextSteps-zoomable-image {
    background-color: white;
    padding: 20px;
    width: 100%;
    transition: transform 0.1s ease-in-out;
    cursor: grab;
  }
}
