/*
 * This stylesheet is used to override the default styles for the print preview
 * page. It is only used when the user clicks the print button on the page.
 * For print, the header, footer, nav bar and other fixed elements are hidden.
 * The page is sent to print in portrait mode.
 * For the signature section, the signatures will be printed after the form 
 * on a new page.
*/

@media print {
  @page {
    size: auto; /* auto is the initial value */
    margin: 12px auto;
    padding: 50px;
  }
  body {
    margin: 0px;
    padding: 0px;
    color: #333333;
    font-family: $font-family;
  }
}
html.print-preview {
  * {
    -webkit-print-color-adjust: exact;
  }
  & {
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  #root {
    width: 100%;
    min-height: 100vh;
    background: $ntrl-lightgray;
    .App {
      width: 1024px;
      background: white;
      margin-left: auto;
      margin-right: auto;
      padding: 25px 25px;
    }
  }

  body {
    margin: 0 auto !important;
    border: 0;
    padding: 0 !important;
    float: none !important;
    overflow: visible;
  }

  h1 {
    font-size: 50pt;
  }
  h2 {
    text-decoration: underline;
  }
  h3 {
    font-size: 16pt;
    color: #333333;
  }
  h4 {
    font-size: 18pt;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    /* identical to box height */
    letter-spacing: -0.0531272px;
    color: #808080;
  }
  p {
    color: #333333;
    font-size: 10pt;
  }
  .header,
  .navbar-container,
  .footer {
    display: none;
  }

  .print-header-container {
    padding-top: 75px;
    justify-content: space-between;
    img {
      width: 150px;
    }
    .last-modified {
      text-transform: uppercase;
    }
    margin-bottom: 3rem;
  }

  .card {
    border: 0px;
  }
  .drop-shadow {
    box-shadow: none;
  }
  @page {
    size: auto; /* auto is the initial value */
  }

  body {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  a[href]:after {
    content: none !important;
  }

  @page :footer {
    display: none;
  }

  @page :header {
    display: none;
  }

  .p-md-5 {
    margin: 0px !important;
    padding: 0px !important;
  }

  .signatures {
    page-break-before: always;
    padding-top: 90px;
  }
  .signature-section {
    .signature-container {
      justify-content: space-between;
    }
    .signature-title {
      font-size: 18pt;
      color: #333333;
    }
    .signature-wrapper {
      padding-bottom: 90px;
    }
    .signature-block {
      text-align: center;
      width: 30%;
      .text-line {
        height: 75px;
        border-bottom: 1pt solid black;
      }
    }
    .comment-box {
      width: 100%;
      height: 300px;
      border: 1pt solid #606060;
      margin-top: 1rem;
      margin-bottom: 90px;
    }
  }
}
