.sidenav {
    height: 100%;
    z-index: 1;
    background-color: transparent;
    overflow-x: hidden;
    transition: 0.5s;
    
    ul,li {
        list-style-type: none;
        padding:0;
    }

    li {
        margin-bottom: 0.75rem;
    }

    .sidenav__link--blue {
        color: $link-blue;
    }

    .active {
        color: $link-blue;
        font-weight:bold;
        padding-left: 30px;
    }
    li {
        width:100%;
        overflow:hidden;
    }
    a {
        width: 100%;
        word-break: break-all;
        position:relative;
    }

    .active:before {
        position:absolute;
        content:"";
        background-image: url("/src/assets/active-menu-arrow.svg");
        background-position:  left 0% bottom 50%;
        background-repeat: no-repeat;
        left:0px;
        height:20px;
        width:20px;
        top:19px; /* Eye balling to align the arrow with the text */
        transform:translateY(-50%);

    }

    .navbar {
        display: block;

        hr {
            width: 80%;
        }
    }

    a {
        text-decoration:none;
        color: $link-blue;
    }
    a:hover {
        color: $link-blue;
        text-decoration:underline;
    }

    .sidenav__icon--active {
        margin-right:1em;
    }

    .cursor-pointer {
        cursor:pointer;
    }

    .bcgovbtn {
        max-height: inherit;
        white-space: pre-wrap;
        font-size:16px;
        align-items: flex-start;
        text-align: start;
        word-break: break-word;
        justify-content:start;
    }
}

