.dropdownSatusContainer {
  .dropdown-menu {
    box-shadow: 0 17px 29px rgba(220, 226, 238, 0.6);
    border-color: $form-input-border-colour;
    padding: 0.375rem 0.75rem;

    .dropdown-item-container {
      margin: 20px 0;
      cursor: pointer;
    }
  }

  .statusBlock--active {
    padding-right: 30px;
  }

  .dropdown-icon {
    right: 20px;
    left: auto;
    top: 50%;
    transform: translate(0%, -50%);
  }
}

.statusBlock {
  border: 1px solid;
  border-radius: 4px;
  font-size: 1em;
  font-weight: bold;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: left;
  display: flex;
  align-items: center;
  line-height: 1;
  width: fit-content;
  min-height: 24px;
}

.statusBlock__incomplete {
  background-color: $bg-white;
}

.statusBlock__MPOReview {
  background-color: $bg-infoBanner;
}

.statusBlock__CPOReview {
  background-color: $bg-infoBanner;
}

.statusBlock__completed {
  background-color: $bg-successBanner;
}

.statusBlock__withdrawn {
  background-color: $bg-errorBanner;
}

.statusBlock__edit {
  background-color: $bg-warningBanner;
}
