.data-table__container {
  padding: 0;

  & > .data-table {
    margin-bottom: 0;

    & > * > tr > * {
      padding-block: 1.2em;
      padding-inline: 1.5em;
    }

    & > thead > tr {
      border-bottom: 2px solid $accent-colour;

      & > th {
        & > div.no-bold {
          font-weight: normal;
        }
      }
    }

    & > tbody {
      & > tr {
        & > td:first-child {
          width: 50ch;
          color: $primary-colour;
        }

        & > td {
          &.clickable {
            font-weight: 700;
            cursor: pointer;
          }

          &.no-padding {
            padding: 0;
          }

          & > p > label {
            font-weight: 700;
            margin-inline-end: 1em;
          }
        }
      }
    }

    .enableSorting {
      cursor: pointer;

      img {
        padding: 0 7px;
      }
    }
  }

  & > .data-row {
    padding: 1.2rem;
    border: 2px solid $border-disabled-colour;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    .delete__btn {
      color: $error;
    }
  }
}
