/* Variables
 * The variables here define the default branding of BC GOV. This includes properties like color, font, fontsize, spacing and more.
 * Varabiles naming must follow '$component-state-property-size' convention. 
 * Ex: $nav-link-hover-color or $close-link-color-sm
 */

$font-family: 'BCSans', sans-serif;
$line-height: 1.5;
$secondary-yellow: #fcba19; /* !TODO: should be deleted once implementation changed to primary yellow */
$ntrl-lightgray: #f2f2f2; /* !TODO: should be deleted once implementation changed to bg-lightgrey */
$ntrl-darkgray: #313132; /* !TODO: should be deleted once implementation changed to dark text */
$text-gray: #606060;
$accent-lightblue: #169bd5;
$tablet: 660px;

/*  Based on Branding guidelines */
$primary-colour: #036; /* Note this is a blue color */
$accent-colour: #fcba19; /* Note this is a yellow color */

/* Text Colours */
$text-dark: #313132;
$text-light: #fff;
$text-lightgray: #f2f2f2;
$link-blue: #1a5a96;

/* Banner Status text colours */
$text-errorBanner: #A12622; 
$text-successBanner: #2D4821; 
$text-warningBanner: #6C4A00; 
$text-infoBanner: #1A5A96; 

/* Background Colours */
$bg-white: #fff;
$bg-blue: #38598a;
$bg-lightgray: #f2f2f2;
$bg-disabled:#cfcfcf;

/* Banner Status Background colours */
$bg-successBanner:#Dff0D8;
$bg-infoBanner:#D9EAF7;
$bg-warningBanner:#F9F1C6;
$bg-errorBanner:#F2DEDE;

/* Semantic colours */
$error: #d8292f;
$success: #2e8540;
$warning: #eed202;
$info: #1a5a96;
$focus: #3b99fc;
$banner-warning: #6c4a00;
$banner-error: #a12622;
$banner-success: #2d4821;
$banner-info: #1a5a96;
$banner-info-bg: #d9eaf7;
$banner-warning-bg: #f9f1c6;
$banner-success-bg: #dff0d8;
$banner-error-bg: #f2dede;

/* FORM Elements */
$form-input-border-colour: #606060;

/* header variables */
$header-height: 65px;
$navbar-height: 4rem;
$padding-block: 9rem;
$footer-height: 46px;

/* pia subheader variables */
$piaSubheader-top: calc($header-height + $navbar-height);
$piaSubheader-height: 7rem;

/* Taken from bootstrap */

/* Grid breakpoints
   Define the minimum dimensions at which your layout will change,
   adapting to different screen sizes, for use in media queries.
   scss-docs-start grid-breakpoints
*/
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;
// scss-docs-end grid-breakpoints

$wrapper-padding-inline: 12em;
$container-padding-inline: 7em;

$sidenav-width: 300px;
