/* Variables
 * The variables here define the default branding of BC GOV. This includes properties like color, font, fontsize, spacing and more.
 * Varabiles naming must follow '$component-state-property-size' convention. 
 * Ex: $nav-link-hover-color or $close-link-color-sm
 */

$font-family: 'BCSans', sans-serif;
$bg-white: white;
$bg-blue: #38598a;
$line-height: 1.5;
$primary-blue: #003366;
$secondary-yellow: #fcba19;
$ntrl-lightgray: #f2f2f2;
$ntrl-darkgray: #313132;
$accent-lightblue: #169bd5;

$tablet: 660px;
