/* Variables
 * The variables here define the default branding of BC GOV. This includes properties like color, font, fontsize, spacing and more.
 * Varabiles naming must follow '$component-state-property-size' convention. 
 * Ex: $nav-link-hover-color or $close-link-color-sm
 */

$font-family: 'BCSans', sans-serif;
$line-height: 1.5;
$secondary-yellow: #fcba19; /* !TODO: should be deleted once implementation changed to primary yellow */
$ntrl-lightgray: #f2f2f2; /* !TODO: should be deleted once implementation changed to bg-lightgrey */
$ntrl-darkgray: #313132; /* !TODO: should be deleted once implementation changed to dark text */
$text-gray: #606060;
$accent-lightblue: #169bd5;
$tablet: 660px;

/*  Based on Branding guidelines */
$primary-colour: #036; /* Note this is a blue color */
$accent-colour: #fcba19; /* Note this is a yellow color */

/* Text Colours */
$text-dark: #313132;
$text-light: #ffffff;
$text-lightgray: #f2f2f2;
$link-blue: #1a5a96;

/* Background Colours */
$bg-white: #ffffff;
$bg-blue: #38598a;
$bg-lightgray: #f2f2f2;

/* Semantic colours */
$error: #d8292f;
$success: #2E8540;
$warning: #EED202;
$info: #1A5A96;
$focus: #3B99FC;

/* FORM Elements */
$form-input-border-colour: #606060;


/* header variables */
$header-height: 65px;
$navbar-height: 4rem;
$padding-block: 7rem;
$footer-height: 46px;
