.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 150px;
}
.ppq-form-section {
  display: flex;
  
  padding: 150px;
}

.btn-submit {
  float: right;
}
.horizontal-divider {
    width: 100%;
    height: 0px;
    border: 2px solid #CFCFCF;
    margin-block: 45px 25px;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
  }
