.ppq-nav-bar {
  display: flex;
  position: relative;
  padding: 5px;
  align-items: center;
  margin-top: 0;
  color: #fff;
  background-color: #38598a;
  width: 100%;
}
.ppq-nav-bar p {
  margin-left: 10px;
}
.ppq-form-nav-bar {
  display: flex;
  word-spacing: normal;
  padding-top: 85px;
  align-items: center;
  margin-top: 0;
  color: #fff;
  background-color: #38598a;
  width: 100%;
}
.ppq-nav-header {
  padding: 10px;
}
