.ppq-section {
  display: flex;
  justify-content: space-around;
  height: 1024px;
  padding: 150px;
}

.ppq-nav-bar {
  display: flex;
  position: relative;
  
  align-items: center;
  margin-top: 0;
  padding-top: 15px;
  color: #fff;
  background-color: #38598a;
  width: 100%;
}

.ppq-nav-bar p {
  margin-left: 10px;
}

.ppq-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 80ch;
  font-weight: 400;
}

.ppq-header {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 10px;
}

.ppq-svg {
  display: flex;
  align-items: center;
}

.ppq-svg > img {
  max-width: 600px;
}
