.results-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2em 14%;
  box-shadow: 0px 17px 29px rgba(220, 226, 238, 0.6);
  border-radius: 4px;
  padding-inline: 114px;
  padding-block: 85px 75px;
}

.cards {
  display: flex;
  justify-content: start;
  gap: 30px;
}

.horizontal-divider {
  width: 100%;
  height: 0px;
  border: 2px solid #CFCFCF;
  margin-block: 88px 56px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}
