.stages-wrapper {
    display: flex;
    width: 50vw;
    min-height: 5vh;
    justify-content: space-evenly;
    margin-block: 4em;
    margin-inline: 25vw;
    gap: 4em;

  & > .stage-lead-line:first-child {
    display: none;
  }
}

.stage-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stage-label {
  text-align: center;
  font-weight: 700;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: grey;
  min-width: 85px;
  aspect-ratio: 1;
  padding: 0.3em;
}

.inner-circle svg {
  font-size: xx-large;
  color: white;
}

.active {
  background-color: $bg-blue;
}

.stage-lead-line {
  display: flex;
  align-self: center;
  width: 100%;
  background-color: grey;
  height: 2px;
  border: none;
  border-radius: 15px;

  &.active {
    height: 4px;
    background-color: $bg-blue;
  }
}
