###############################################################################
##                                Root Level                                 ##
###############################################################################

.env

###############################################################################
##                                   API                                     ##
###############################################################################

src/backend/node_modules
src/backend/.nyc_output
src/backend/.env
src/backend/dist
src/backend/coverage

###############################################################################
##                                  Node Modules                             ##
###############################################################################
src/frontend/node_modules
src/backend/node_modules


###############################################################################
##                                  Web App                                  ##
###############################################################################
# Logs
src/frontend/logs
src/frontend/*.log
src/frontend/npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
src/frontend/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.scssc

src/frontend/test/reporter

###############################################################################
##           ** Delete when commom code is ported                            ##
###############################################################################
src/frontend/node_modules
src/frontend/builds/css/*

###############################################################################
##                                  Plugins                                  ##
###############################################################################
.history
