###############################################################################
##                                Root Level                                 ##
###############################################################################

.env

###############################################################################
##                                   API                                     ##
###############################################################################

src/backend/node_modules
src/backend/.nyc_output
src/backend/.env
src/backend/dist

###############################################################################
##                                  Web App                                  ##
###############################################################################

src/frontend/dpia-webapp/node_modules
src/frontend/dpia-webapp/builds/css/*
