.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;

  .modal-title {
    display: block;
    text-align: center;
    color: black;
  }

  .modal-horizontal-divider {
    width: 100%;
    height: 0;
    border: 2px solid #e2a014;
    margin-block: 18px 16px;
  }

  .modal-text {
    display: block;
    text-align: center;
    padding: 0 20px;
    color: black;
    max-width: 65ch;
    margin: 0 auto;
  }

  .modal-main {
    position: relative;
    background-color: #fff;
    width: 35%;
    height: auto;
    padding-block: 1.5em;
    padding-inline: 1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    @include breakpoint(0 map-get($grid-breakpoints, 'md')) {
      width: 80%;
    }
  }

  .modalbtn__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 0.5em;

    &.reversed {
      flex-direction: row;
    }
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
