.hero-section {
  display: flex;
  margin-top: calc($header-height);
  min-height: calc(100vh - $header-height);

  @include breakpoint(0 map-get($grid-breakpoints, 'xxl')) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include breakpoint(map-get($grid-breakpoints, 'xxl')) {
    background-repeat: no-repeat;
    background-image: url(/src/assets/public_homepage/hero.svg);
    background-position: 90% 100%;
  }

  @include breakpoint(
    map-get($grid-breakpoints, 'xxl') map-get($grid-breakpoints, 'tv')
  ) {
    flex-direction: row;
    justify-content: left;
    align-items: center;
    .hero-content {
      max-width: 50ch;
    }
  }
}

.hero-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 90%;

  @include breakpoint(map-get($grid-breakpoints, 'xxl')) {
    max-width: 80ch;
  }
}

.ctas {
  display: flex;
  & > :not(last-child) {
    margin-right: 1em;
  }
}

.hero-svg {
  display: flex;
  align-items: center;
}

.hero-svg > img {
  max-width: 600px;
}

.what-is-a-pia {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 411px;
  padding-block: 4rem;
  background-color: $ntrl-lightgray;
  text-align: center;
}

.what-is-a-pia p {
  max-width: 80ch;
}

.info-section {
  @include breakpoint(0 map-get($grid-breakpoints, 'xl')) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  display: flex;
  justify-content: space-between;
  align-items: space-evenly;
  padding-bottom: calc($padding-block + $footer-height);
}

.info-section > div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  max-width: 50ch;
  align-items: center;
}

.info-section > div > img {
  display: flex;
  max-width: 400px;
  max-height: 250px;
  margin-bottom: 3rem;
}

.landing-page-callout-container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
