.callout-section {
  &.results-callout-section {
    justify-content: start;
    height: auto;
    margin-block: 1.5em 3em;
  }
}

.callout {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: $ntrl-lightgray;
  border-left: 10px solid $primary-colour;
  height: 2.5rem;
  padding: 2.5em 1.56em;

  &.bg-white {
    background-color: $bg-white;
  }

  &.results-callout {
    padding-block: 5px;
    width: 100%;
  }
}
