.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  box-shadow: 0 2px 6px 1px #00000026;
  border-radius: 4px;
  height: fit-content;
  max-width: clamp(100%, 85vw + 1em, 150em);

  & p {
    font-weight: 700;
    margin-block-end: .5em;
  }
}

.card-icon {
  font-size: 72px;
  color: $bg-blue;
}

.card-title {
  font-size: 2em;
  line-height: 50px;
}

.card-text {
  text-align: center;
  white-space: pre-line;
}

.card-button {
  display: flex;
  padding-inline: 50px;
}

.button-icon {
  font-size: large;
  color: $primary-colour;
}
