.dropdown {
  display: flex;
  align-items: center;
  position: relative;
  width: 11em ;
  padding-right: 1.05em;
}

.dropdown-icon {
  position: absolute;
  left: calc(100% - 2em);
}

.select-label {
  margin-bottom: 0.3em;
}
