.dropdown {
  display: flex;
  align-items: center;
  position: relative; 
}

.dropdown-icon {
  position: absolute;
  left: calc(100% - 2em);
}

.dropdown-icon-bg {
  left: calc(100% - 2em);
  background-image: url("/src/assets/dropdown-icon.svg");
  background-position:  right 3% bottom 45%;
  background-repeat: no-repeat;
}

.select-label {
  margin-bottom: 0.3em;
}
