.background {
  display: flex;
  align-items: center;
  width: 100%;
  margin-inline: 0;
  background-color: $bg-lightgray;

  &.results-wrapper {
    overflow-x: hidden;
  }
}

.ppq-form-section {
  display: flex;
  background-color: white;
  padding-block: 5em;

  &.results-wrapper {
    margin-inline: 0;
  }
}

.row > h2 {
  margin-top: 2.5em;
  margin-bottom: 0.8em;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.35em;

  & > h2 {
    margin: 0;
    margin-top: 3em;
    margin-bottom: 0.8em;
    font-weight: bold;
  }

  & > label:not(.input-label) {
    margin-top: 1em;
    color: $ntrl-darkgray;
    font-weight: 700;

    & > p {
      color: $ntrl-darkgray;
    }
  }

  & > label:is(.h2-label) {
    margin: 0;
    margin-bottom: 1em;
  }

  &.pi-collect {
    margin-top: 1em;
  }
}

.other-factors-container {
  columns: 2 auto;
}

.pia-type {
  columns: 4 auto;
}

.print-ppq-section-focus {
  border: 2px solid $accent-colour;
  border-radius: 4px;
  margin: 25px 50px 75px 50px;
  padding: 25px 25px;
}
.review-type {
  columns: 2 auto;
}

.start-date-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#start-date-label {
  margin-top: 0;
}

.btn-submit {
  float: right;
}

.horizontal-divider {
  width: 100%;
  height: 0;
  border: 2px solid #cfcfcf;
  margin-block: 45px 25px;
}

.form-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;

  &.connect-buttons:first-child {
    visibility: hidden;
  }
}

span {
  color: $text-gray;
}

.input-label {
  display: flex;
  gap: 0.5em;
  user-select: none;
  margin-top: 0.5em;

  &.input-label-row {
    margin-top: 0;
  }
}
