.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 150px;
}

.ppq-form-section {
  display: flex;
  padding: 150px;
}

.row > h2 {
  margin-top: 2.5em;
  margin-bottom: 0.8em;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: .35em;

  & > h2 {
    margin: 0;
    margin-top: 3em;
    margin-bottom: 0.8em;
  }

  & > label:not(.input-label) {
    margin-top: 1em;
  }

  & > label:is(.h2-label) {
    margin: 0;
    margin-bottom: 1em;
  }

  &.pi-collect {
    margin-top: 1em;
  }
}

.btn-submit {
  float: right;
}

.horizontal-divider {
  width: 100%;
  height: 0;
  border: 2px solid #cfcfcf;
  margin-block: 45px 25px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

label:not(.input-label) {
  color: $ntrl-darkgray;
  font-weight: 700;
}

span {
  color: $text-gray;
}

.input-label {
  display: flex;
  gap: .5em;
  user-select: none;
}
