.subheader-container {
  display: flex;
  position: fixed;
  top: $piaSubheader-top;
  height: $piaSubheader-height;
  width: 100%;
  background-color: $bg-white;
  z-index: 100;
  box-shadow: 0px 17px 29px 0px #dce2ee99;
  align-items: center;
  justify-content: space-between;
  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 30%;
    margin: 0px;
    padding: 0px;
  }
  .other__elements-container {
    width:70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .other__elements-nextstep-container {
    justify-content:right;
    display:flex;
    :first-child {
      margin-right: 1em;
    }
  }
}

.subheader {
  display: flex;
  gap: 1em;
  align-items: center;
  max-width: 80%;
  list-style: none;
  margin-bottom: 0;
  & :first-child {
    //padding-left: 0;
  }
}
