.results-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 60%;
  margin: 0 auto;
  box-shadow: 0 17px 29px rgba(220, 226, 238, 0.6);
  border-radius: 4px;
  padding-inline: 114px;
  padding-block: 85px 75px;

  &.results {
    display: block;
    margin: 2em 200px;
  }
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.horizontal-divider {
  width: 100%;
  height: 0;
  border: 2px solid #cfcfcf;
  margin-block: 88px 56px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}
