.breadcrumb-not-active {
  // TODO need to discuss with design about what color we should use for inactive
  color: #ccc;
}

.breadcrumb-active {
  color: $link-blue;
}

.breadcrumb-wrapper {
  position: absolute;
  display: flex;
  gap: 1em;
  align-items: center;
  list-style: none;
  margin-top: 3em;
  margin-bottom: 0;
  margin-left: auto;
  padding-inline: 12em;
}

.breadcrumb-arrow {
  margin-left: 10px;
  margin-right: 10px;
}
