.breadcrumbs__nav {
  position: absolute;
  top: 4rem;
  display: flex;
  align-items: center;
  gap: 0.7em;

  & > .icon {
    margin-block-start: 0.2em;
  }
}

.breadcrumb-not-active {
  color: $link-blue;
}

.breadcrumb-active {
  color: $text-dark;
  font-weight: 700;
}
