<!--
  All in-line CSS is specific to this sample; it can and should be ignored.
 -->
<header>
  <div class="banner">
    <a href="https://gov.bc.ca">
      <img src="/assets/images/BCID_H_rgb_rev.svg" alt="Go to the Government of British Columbia website" class="logo" />
    </a>
    <h1>Hello British Columbia</h1>
  </div>
  <div class="other">
	  <a href="/app/public/login/">Login</a>
  <!--
    This place is for anything that needs to be right aligned
    beside the logo.
  -->
    &nbsp;
  </div>
</header>
