.header {
  background-color: $primary-colour;
  border-bottom: 2px solid $accent-colour;
  color: #fff;
  display: flex;
  height: $header-height;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 99;
  width: 100%;
  justify-content: normal;
  align-items: center;

  .logo {
    width: 170px;
    height: 65px;
    margin-right: 25px;
    padding: 0;
  }

  p {
    margin: 0;
  }

  span {
    color: $secondary-yellow;
    vertical-align: super;

    @include breakpoint(0 map-get($grid-breakpoints, 'md')) {
      vertical-align: baseline;
    }

    font-weight: inherit;
    font-variant: small-caps;
  }
}

header .banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 10px 0 0;

  /* border-style: dotted;
  border-width: 1px;
  border-color: lightgrey; */
}
