.topnav {
  display: flex;
}
.navbar-container {
  display: flex;
  position: fixed;
  top: $header-height;
  height: $navbar-height;
  width: 100%;
  background-color: $bg-blue;
  z-index: 100;
}

.navbar {
  display: flex;
  gap: 1em;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
  & :first-child {
    padding-left: 0;
  }
}
