.navbar-container {
  display: flex;
  align-items: center;
  position: fixed;
  top: $header-height;
  height: $navbar-height;
  width: 100%;
  background-color: $bg-blue;
  padding-inline: 200px;
  z-index: 100;
}

.navbar {
  display: flex;
  align-items: center;
  max-width: 80%;
  gap: 3em;
  list-style: none;
  margin-bottom: 0;

  & > li {
    & > a {
      color: $bg-white;

      &.active {
        color: white;
      }
    }
  }
}
