.ppq-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  padding-block: 10rem;
  height: 100vh;
}

.ppq-section.results-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 824px;
  width: 80%;
  background-color: white;
  padding: 0;
  padding-left: 10rem;
}

.col-md-6 {
  align-self: flex-start;
}

.what-is-a-ppq {
  display: flex;
  align-items: end;
}

.list {
  padding-bottom: 15rem;
  padding-left: 0.9rem;
}

.ppq-svg > img {
  max-width: 600px;
}

.col-md-6 img {
  width: 100%;
}
