.ppq-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  padding-block: 10rem;
  height: 100vh;
}

.ppq-section.results-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 824px;
  width: 80%;
  background-color: white;
  padding: 0;
  padding-left: 5rem;
}

.ppq-content {
  padding: 25px;
  box-sizing: border-box;
  margin-right: 4em;
  background: rgba(59, 153, 252, 0.05);
}

.ppq-home-warning-icon {
  color: #fcba19;
}

.col-md-6 {
  align-self: flex-start;
}

.what-is-a-ppq {
  display: flex;
  align-items: end;
}

.ppq-svg > img {
  max-width: 600px;
}

.col-md-6 img {
  width: 100%;
}
