.get-start-container {
  padding: 0;
  padding-left: 5rem;
  padding-top: 3em;
  padding-bottom: 2em;
  background-color: white;
}

.get-started-content {
  padding: 25px;
  box-sizing: border-box;
  margin-right: 4em;
  background: rgba($focus, 0.05);
}

.ppq-home-warning-icon {
  color: $accent-colour;
}

.col-md-6 {
  align-self: flex-start;
}

.ppq-svg {
  display: fixed;
}

.ppq-svg > img {
  max-width: 600px;
}

.col-md-6 img {
  width: 100%;
}
