.checkbox-wrapper {
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin-bottom: 1em;

  & > .cb-info-icon {
    margin-top: 0.5em;
    color: $link-blue;
  }

  & > .tooltip {
    display: flex;
    flex-direction: column;
    max-width: 50ch;
    align-items: start;
    background-color: $link-blue;
    font-weight: 700;
  }

  & > .input-label {
    max-width: 100ch;
  }
}
