name: 'API Unit Test'
on:
  pull_request:
    branches: [main]
    paths:
      - "src/backend/**"
  workflow_dispatch:
    
jobs: 
  API-unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 16.x, 18.x ]
        
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Use NodeJS ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Navigate to Backend, run npm tests
        run: | 
          cd src/backend
          npm ci
          npm run test         
