.ppq-connect {
  background-color: white;

  & > h1 {
    line-height: 1.4;
  }
}

.ppq-connect section {
  display: flex;
  flex-direction: column;
  margin-block: 2rem;

  &:is(.find-your-mpo) {
    margin-top: 6em;
  }

  & > *:not(h2) {
    margin-left: 2rem;
  }

  & > button {
    margin-top: 1rem;
  }
}

.privacy-helpline-contact {
  margin-bottom: 0;
}

.mpo-find-contact {
  & > a {
    margin-left: .3em;
  }
}
